fhir.resources==7.1.0
fastapi==0.115.2
prometheus-fastapi-instrumentator==7.0.0
structlog==24.4.0
averbis-python-api==0.12.0
tenacity==9.0.0
aiokafka==0.11.0
uvicorn==0.32.0
pydantic-settings==2.6.0
python-slugify==8.0.4
